/*   font-family: "Montserrat", sans-serif;
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*   font-family: "Roboto Slab", serif;
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Montserrat", sans-serif;

}

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: #fff;
}

p,
input::placeholder,
textarea::placeholder {
    font-family: "Roboto Slab", serif;

}

:root {
    --main-color: #ffc800;
}

/* header */
header {
    background-image: url(../images/header-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position-y: -100px;
    flex-wrap: wrap;

}

.container {
    margin: auto;
    width: 80%;
    height: 100%;
}

/* navbar */
.nav {
    height: 10%;
    padding-top: 30px;
    flex-wrap: wrap;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoImg img {
    width: 200px;
}

.linkes {
    width: 40%;
}

.linkes ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.linkes a {
    Font-size: 15.2px;
    Font-weight: 400;
    Line-height: 22.8px;
    text-transform: uppercase;
    transition: 0.3s;
}

.linkes a:hover {
    color: var(--main-color);
}

/* header-content */
.header-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 70%;
    color: #fff;
    padding-top: 150px;
    flex-wrap: wrap;
}

.header-content p {
    Font-size: 36px;
    Font-weight: 400;
    Line-height: 36px;
    font-style: italic;
    margin-bottom: 30px;
}

.header-content h1 {
    Font-size: 72px;
    Font-weight: 700;
    Line-height: 72px;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.header-content a {
    padding: 20px 40px;
    Font-size: 18px;
    Font-weight: 700;
    Line-height: 27px;
    background-color: var(--main-color);
    border-radius: 5px;
    transition: 0.3s;
}

.header-content a:hover {
    background-color: #a18008;
}

/* services */
.services {
    padding: 90px;
    text-align: center;
    height: 80%;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.services .container {
    width: 100%;
    flex-wrap: wrap;
}

.services h2 {
    Font-size: 40px;
    Font-weight: 700;
    Line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.services p {
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 19.2px;
    color: rgb(108, 117, 125);
    font-style: italic;
    margin-bottom: 20px;

}

.services .items {
    display: flex;
    margin-top: 50px;
}

.services .items .item {
    width: 30%;
    justify-content: space-evenly;
    margin: 30px;
}

.services .items .item i {
    color: #fff;
    padding: 30px;
    background-color: var(--main-color);
    border-radius: 50%;
    Font-size: 60px;
    margin-bottom: 10px;
}

.services .items .item h3 {
    Font-size: 24px;
    Font-weight: 700;
    Line-height: 28.8px;
    margin-bottom: 10px;
}

.services .items .item p {
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 28px;
    font-style: normal;
    width: 100%;
}

/* portfolio */
.portfolio,
.Team {
    text-align: center;
    background-color: #f8f9fa;
    padding-top: 30px;
    height: 145vh;
}

.portfolio .container {
    width: 90%;
}

.portfolio h2,
.Team h2,
.Content h2 {
    Font-size: 40px;
    Font-weight: 700;
    Line-height: 48px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 20px;
}

.portfolio p,
.Team p,
.Content p {
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 19.2px;
    color: rgb(108, 117, 125);
    font-style: italic;
    margin-bottom: 40px;
}

.portfolio .works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.portfolio .works .work {
    width: 31%;
    margin: 10px;
    background-color: #fff;
    padding-bottom: 10px;
}

.portfolio .works .work img {
    width: 100%;
    cursor: pointer;
}

.portfolio .works .work h3 {
    Font-size: 24px;
    Font-weight: 700;
    Line-height: 36px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.portfolio .works .work .image {
    position: relative;
    transition: 0.5s;
}

.portfolio .works .work .image::before {
    content: " ";
    color: #f8f9fa;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 60px;
    font-weight: bold;
    align-content: center;
    cursor: pointer;
    transition: 0.4s;
}

.portfolio .works .work .image:hover::before {
    content: "+";
    background-color: var(--main-color);
}

.portfolio .works .work .img img {
    height: 73%;
}

/* Team */
.Team {
    height: 100vh;
    padding-top: 0%;
}

.Team .container,
.Content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Team .pepole {
    display: flex;
}

.Team .pepole .pepoleMini {
    width: 32%;
    margin: 5px;
}

.Team .pepole .pepoleMini img {
    width: 60%;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}

.Team .pepole .pepoleMini h3 {
    Font-size: 22.416px;
    Font-weight: 700;
    Line-height: 26.8992px;
    padding-top: 20px;
}

.Team .pepole .pepoleMini p {
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 28px;
    padding-top: 5px;
    font-style: normal;
    margin-bottom: 15px;
}

.Team .pepole .pepoleMini .icons i {
    Font-size: 18px;
    Font-weight: 400;
    Line-height: 28px;
    color: white;
    background-color: #212529;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 100%;
    margin: 5px;
    margin-bottom: 30px;
    transition: 0.5s;

}

.Team .pepole .pepoleMini .icons i:hover {
    background-color: #686868;
    cursor: pointer;
}

.Team .Team-footer {
    width: 70%;
    margin-top: 30px;
    font-size: large;
}

.Team .Team-footer p {
    font-style: normal;
}

/* Content */
.Content {
    background-color: #212529;
    background-image: url(../images/content/map-image.png);
    height: 90vh;
}

.Content h2 {
    color: #fff;
    padding-top: 40px;
}

.Content form {
    display: flex;
    width: 100%;
}

.Content form .inputsInner {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
}

.Content form .inputsInner input,
textarea {
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.Content form .inputsInner input:focus,
textarea:focus {
    box-shadow: none;
    border: 1px solid var(--main-color);
    border-color: var(--main-color);
}

.Content form .inputsInner input::placeholder,
textarea::placeholder {
    Font-weight: bolder;
    Line-height: 24px;
    color: rgb(171, 172, 174);
}

.Content form .inputsInner textarea {
    height: 100%;
    border-radius: 10px;
}

.Content .button {
    padding: 20px 40px;
    Font-size: 18px;
    Font-weight: 700;
    Line-height: 27px;
    background-color: var(--main-color);
    border-radius: 10px;
    transition: 0.3s;
    text-transform: uppercase;
    color: white;
    margin-top: 30px;
}

.Content .button:hover {
    background-color: #a18008;
}

/* footer */
.Footer {
    height: 10vh;
}

.Footer .container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 90%;
    margin-bottom: 15px;
}

.Footer .container .cpoyRight {
    Font-size: 16px;
    Font-weight: 400;
    Line-height: 21.6px;
    color: rgb(136, 136, 140);
}

.Footer .container .privacyTerms {
    display: flex;
    gap: 20px;
    Font-size: 15px;
    Font-weight: 400;
    Line-height: 21.6px;
}

.Footer .container .privacyTerms a {
    color: rgb(116, 116, 118);
}

.Footer .container .footerIcons i {
    Font-size: 18px;
    Font-weight: 400;
    Line-height: 28px;
    color: white;
    background-color: #212529;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100%;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.5s;
    margin-bottom: 25px;
}

.Footer .container .footerIcons i:hover {
    background-color: #686868;
    cursor: pointer;
}